/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.beer-hoppy {
  min-width: 100%;
  min-height: 82%;
}

.wrapper-container {
  padding: 60px 42px 0 42px;
}
